body{
    background: #AAAAAA
}
.card{
    width: 33%;
    font-family: 'Nova Square', cursive;
    text-align: center;
    background: #fafafa;
    
    
}
div#songs.container{
    font-family: 'Nova Square', cursive;
    color: rgb(63, 61, 58);
    text-align: center
}
.display-4{
    font-family:  'Nova Square', cursive;
    
}
.bgColor{
color: #0B3846;
background: #70D4B4;
}