.card{
    width: 33%;
    font-family: 'Nova Square', cursive;
    text-align: center
    
    
}
div#songs.container{
    font-family: 'Nova Square', cursive;
    color: rgb(63, 61, 58);
    text-align: center
}
.display-4{
    font-family:  'Nova Square', cursive;
    
}
.bgColor{
color: #0960BD;
background: #429FFD
}